Flask
SQLAlchemy
Flask-SQLAlchemy
gTTS
SpeechRecognition
googletrans-py
psycopg2
psycopg2-binary
psycopg2
openai
python-dotenv




















Flask
SQLAlchemy
Flask-SQLAlchemy



gTTS
SpeechRecognition
googletrans-py



psycopg2
psycopg2-binary
openai
python-dotenv































































